<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my project</title>

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
</head>
<body>
    <!-- start header -->
    <!-- start nav -->

    <nav class="navbar navbar-expand-lg navbar-success bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="assets/img/manpower logo .jpg" alt="logo" width="70px" height="70px">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Check</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Find Your Job</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>

    <!-- end nav -->

    <section id="home">
        <div class="bg-success p-5 text-center text-md-start text-light">
            <div class="container py-5">
                <div class="d-sm-flex align-items-center justify-content-between py-5">
                    <div class="col-md">
                        <h1>Work is life</h1>
                        <p>
                            Manpower is the total number of people who can work to get something done. How quickly you clean your house after a big party will depend on how much manpower you've got.
                        </p>
                        <button class="btn btn-primary btn-lg">Connect to Us</button>
                    </div>
                    <div class="col-md-4">
                        <img src="assets/img/manpower2-removebg-preview.png"  class="image-fluid row justify-content-between align-items-center"  width="100%" alt="manpower">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end header -->
     
    <!-- Start portfolio -->

    <section id="portfolio" style="background-color: rgb(111, 112, 110);">
      <div class="container py-5">
        <div class="row text-center g-4">

          <Div>
            <button class=" text-dark px-4" style="border-radius: 50px;"><h1>  Why Need Manpower</h1> </button>
          </Div>

          <!-- start first part -->

          <div class="col-md">
            <div class="card text-center text-dark p-5 bg-light">
              <img src="assets/img/porfolio 1.png" alt="ph" class="card-img-top">
              <h5 class="card-title">Men</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                  the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>

            </div>
          </div>


          <!-- End first part -->

          <!-- start 2nd part -->

          
          <div class="col-md">
            <div class="card text-center text-light p-5 bg-secondary">
              <img src="assets/img/porfolio 1.png" alt="ph" class="card-img-top">
              <h5 class="card-title">Women</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                  the card's content.</p>
              <a href="#" class="btn btn-dark">Go somewhere</a>

            </div>
          </div>

          <!-- end 2nd part -->

          <!-- start 3rd part -->

          
          <div class="col-md">
            <div class="card text-center text-light p-5 bg-info">
              <img src="assets/img/porfolio 1.png" alt="ph" class="card-img-top">
              <h5 class="card-title">Old man</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                  the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>

            </div>
          </div>

          <!-- end 3rd part -->

          <!-- star 4th part -->

          
          <div class="col-md">
            <div class="card text-center text-dark p-5 bg-$yellow-300">
              <img src="assets/img/porfolio 1.png" alt="ph" class="card-img-top">
              <h5 class="card-title">Younger</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                  the card's content.</p>
              <a href="#" class="btn btn-success">Go somewhere</a>

            </div>
          </div>

          <!-- end 4th part -->

        </div>

      </div>
    </section>



    <!-- End Portfolio -->

    <!-- start about  -->
    <section id="about" class="p-5">
      <div class="container py-5 ">
        <div class="row justify-content-between align-items-center">
          <div class="col-md ">
            <img src="assets/img/about pic.png" alt="pic" width="400">
          </div>

          <div class="col-md">
           <h1 class="">About</h1>
           <p class="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto alias totam aliquam excepturi cumque pariatur minus temporibus labore impedit sunt debitis in exercitationem, voluptatem illo distinctio dolor. Molestias, itaque et.</p>

          </div>

        </div>

    <!-- about 2nd part -->

    <section id="about" class="p-5 ">
      <div class="container py-5 ">
        <div class="row justify-content-between align-items-center">
        
          <div class="col-md">
           <h1 class="">About</h1>
           <p class="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto alias totam aliquam excepturi cumque pariatur minus temporibus labore impedit sunt debitis in exercitationem, voluptatem illo distinctio dolor. Molestias, itaque et.</p>
          </div>
          <div class="col-md ">

            <img src="assets/img/about pic 2 .png" alt="pic">
          </div>
        </div>

      </div>
    </section>
    <!-- end about -->

    <!-- start contact -->
    <section id="contact" class="py-5 bg-info">
      <div class="container py-5 ">
      <h1 class=" text-center"></h1>
      <button class="text-center px-4" style="border-radius: 50px;">Singup</button>
      
          <div class="row justify-content-between align-items-center"> 
              <div class="col-md">
                  <form>
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Name</label>
                        <input type="text" class="form-control" id="">
                      </div>
                      <div class="form-floating">
                          <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" style="height: 100px;"></textarea>
                          <label for="floatingTextarea">Comments</label>
                        </div>

                      <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
              </div>
              <div class="col-md">
                  <h1>About</h1>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur tempora quia quo provident voluptates maxime. Nemo autem optio laudantium vel quaerat veritatis neque provident nostrum sed, rem sint quasi saepe!</p>
                  <i class="fa fa-envelope" aria-hidden="true" ></i>
              </div>
          </div> 
      </div>
      </div>
  </section>

<!-- end contact -->

<!-- start location   -->

<section class="py-3" style="background-color: bisque;" id="location">
  <div class="container p-5">
      <h1 class="text-md-start">Our Location</h1>
      <div class="row justify-content-between align-items-center"> 
          <div class="col-md">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14607.637399177982!2d90.35003365541994!3d23.750611799999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755bf4e2bfcfc6b%3A0x137de5767e41336a!2sCentre%20for%20Computer%20Studies%20Ltd.!5e0!3m2!1sen!2sbd!4v1685248800110!5m2!1sen!2sbd" width="90%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="col-md">
              <h1>Details</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur tempora quia quo provident voluptates maxime. Nemo autem optio laudantium vel quaerat veritatis neque provident nostrum sed, rem sint quasi saepe!</p>
              
          </div>
      </div>    
  </div>
</section>
<!-- End location   -->


 <!-- footer -->

 <footer class="bg-light">
  <div class="container p-5"> 
    
     <div class="bg-secondary" width="100%" >
        <div class="row">
           <div class="col-md-3">
              
           </div>
           <div class="col-md-9">
              <form class="newslatter_form">
              </form>
           </div>
           <div class="col-md-3 col-sm-6"
           >
              <div class="Informa helpful">
                 <h3>Useful  Link</h3>
                 <ul>
                    <li><a href="index.html"class="nav-link text-light">Home</a></li>
                    <li><a href="about.html"class="nav-link text-light">About</a></li>
                    <li><a href="we_do.html"class="nav-link text-light">What we do</a></li>
                    <li><a href="portfolio.html"class="nav-link text-light">Portfolio</a></li>
                    <li><a href="contact.html"class="nav-link text-light">Contact us</a></li>
                 </ul>
              </div>
           </div>
           <div class="col-md-3 col-sm-6">
              <div class="Informa">
                 <h3>News</h3>
                 <ul>
                    <li>It is a long established                            
                    </li>
                    <li>fact that a reader will                           
                    </li>
                    <li>be distracted by the                           
                    </li>
                    <li>readable content of a                              
                    </li>
                    <li>page when                          
                    </li>
                 </ul>
              </div>
           </div>
           <div class="col-md-3 col-sm-6">
              <div class="Informa">
                 <h3>company</h3>
                 <ul>
                    <li>It is a long established                             
                    </li>
                    <li>fact that a reader will                            
                    </li>
                    <li>be distracted by the                          
                    </li>
                    <li>readable content of a                              
                    </li>
                    <li>page when                          
                    </li>
                 </ul>
              </div>
           </div>
           <div class="col-md-3 col-sm-6">
              <div class="Informa conta">
                 <h3>contact Us</h3>
                 <ul class="">
                    <li> <a href="#" class="nav-link text-light">Location</a>
                    </li>
                    <li> <a href="#"class="nav-link text-light">Call +880 1303 208288</a>
                    </li>
                    <li> <a href="#"class="nav-link text-light"> jahirsheikh14@gmail.com</a>
                    </li>
                 </ul>
              </div>
           </div>
        </div>
     </div>
     <div class="copyright text_align_left">
        <div class="container">
           <div class="row d_flex">
              <div class="col-md-12 text-center">
                 <p class="">© 2020 All Rights Reserved.</p>
              </div>
              <div class="col-md-6">

              </div>
           </div>
        </div>
     </div>
    </div>
    </div>
  </div>
</div>
</footer>

<!-- end footer -->

   


    <script src="assets/js/bootstrap.bundle.min.js"></script>
</body>
</html>